.Main-head{
   height: 70px;
   display:flex;
   flex-direction: row;
   margin-top:10px;
   justify-content:space-around; 
   border-bottom :2px solid #476a2e; 
   box-shadow: 0px 15px 10px -15px #111; 
  
 
   
}

.btn-div{
   width: 330px;
   height: 50px;
   margin-top: 13px;
   display:flex;
   justify-content:space-evenly;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
   border-radius:5px;
}
.div-wallet{
   width:100px;
}
.btn-home,.btn-Creator
{ margin-top: 5px;
   border: none;
   border-radius: 5px;
   width: 100px;
   height: 40px;
   background:transparent;
}
.btn-home:hover{
cursor: pointer;
 background-color:#edeff3;
 color:green;
}
.btn-Creator:hover{
   cursor: pointer;
   background-color:#edeff3;
   color:green;
}


.img-logo{
   width: 160px;
   height: 50px;
}
.btn-connect{
   margin-left: 30px;
   margin-top: 8px;
   border-radius: 5px;
   width: 140px;
   height: 40px;
   background-color:black;
   color: white;
   font-weight: bold;
   border: none;
   border-radius: 25px
}
.btn-connect:hover{
   cursor: pointer;
   box-sizing: content-box;
}